@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
}

@config "./tailwind.config.js";

/* Always enforce base styles */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Force dark mode transition */
html.dark body {
  background-color: #111827;
  /* gray-900 */
  color: #f3f4f6;
  /* gray-100 */
}